
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 50px auto;
    padding: 20px;
}
#drop-area.highlight {
    border-color: purple;
}

#file-upload {
    display: none;
}

#canvas-container {
    position: relative;
    margin: 50px auto;
    height: 35vh;
    width: 35vw;
}